html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #c5443c 0%, #ff8642 100%);
}

* {
    box-sizing: border-box;
}

.logo {
    width: 185px;
    height: 136px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;

    background: url(./assets/logo.png);
}

.title{
    font-family: Gothic A1,  sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 0px;

    color: #FFFFFF;

    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
}

.title p {
    margin-top: 50px;
    margin-bottom: 60px;
}

.tag {
    font-family: Gothic A1, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;

    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
}

.tag p {
    margin-top: 0px;
    margin-bottom: 0px;
}



.login-button, .startgroup-button{
    text-decoration: none;

    background: #C5443C;
    border: 1px solid #C5443C;
    box-sizing: border-box;
    border-radius: 20px;
    
    width: 178px;
    height: 51px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button, .startgroup-button:hover {
    text-decoration: none;
}

.login-button .label, .startgroup-button .label {
    font-family: Gothic A1,  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    display: block;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.signup-button, .joingroup-button{
    text-decoration: none;

    width: 178px;
    height: 51px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;

    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button, .joingroup-button:hover{
    text-decoration: none;
}

.signup-button .label,  .joingroup-button .label{
    font-family: Gothic A1,  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #C5443C;
}

.heading, .login, .signup, .footer, .welcome-name{
    font-family: Gothic A1,  sans-serif;
    font-style: normal;
    color: #FFFFFF;
    letter-spacing: -0.05em;
}

.login-form, .signup-form, .creategroup-form{
    /* border: 10px solid   #FFFFFF;
    box-sizing: border-box;  */
    margin-top: 3%;

    display: block;
    width: 480px
}


@media screen and (max-width: 600px) {
    .logo {
        margin-top: 10%;
    }
    .container {
        width: 80%
    }

    .login-form, .signup-form, .creategroup-form{
        margin-top:7%;
    }
}
footer {
    font-family: Gothic A1, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;

    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;

    margin-top: 150px;
}

.welcome-name {
    display: block;
    align-items: center;
    text-align: center;

    margin-top: 75px;
    margin-bottom: 40px
}

.choose {
    margin-top: 30px;
    background: url(./assets/Ellipse.png);
    background-position: center;
}

.choose-heading {
    font-family: Gothic A1;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 70px;
color: #FFFFFF;
letter-spacing: -0.05em;
}

.card {
    width:364px;
}

.restaurant-name {
    font-family: Gothic A1;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 45px;
}

.rating, .price, .category {
    font-family: Gothic A1;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
}

.marks {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

@media screen and (max-width: 500px) {
    .card {
        width: 264px;
    }
}

